
.phone-list{
    display: inline-block;
}
.phone-box{
    max-height: 400px;
    max-width: 250px;
    border:1px solid rgb(0, 0, 0);
    max-width: 175px;
    background-color: rgb(170, 236, 170);
    margin-top: 50px;
    margin-left: 5%;

    
}
.zoom {
    transition: transform .8s;
  }
.zoom:hover {
    transform: scale(1.1);
}

.cart-title{
    height: 60px;
    background-color: rgb(206, 142, 59);
    margin-top: 50px;
    font-size: 35px;
}
.cart-img{
    margin-left: 10px;
}
