
.box-col{
    width: 190px;
    height: 352px;
    background-color: #432C7A;
    display: inline-block;
    border-radius: 15px;
    border: 2px solid #432C7A;
    padding: 10px;
    margin-top: 5px;
    margin-left: 5px;
    
}
.phone-img{
    width:160px;
    height: 212px;
    border-radius: 25px;
    border: 2px solid #80489C;

}
.phone-data{
    margin-top: 10px;
    width: 160px;
    height: 110px;
    background-color: #80489C;
    display: inline-block;
    border-radius: 15px;
    font-size: 20px;
    font-family:monospace;
    color: burlywood;
}
.phone-name{
    margin-left: 10px;
}
.phone-price{
    margin-left: 10px;
}
.add-to-cart{
    transform: translateY(50%);
    transform: translateX(20%);
}
.cart-title{
    height: 60px;
    background-color: rgb(206, 142, 59);
    margin-top: 50px;
    font-size: 35px;
}
.cart-img{
    margin-left: 10px;
}